html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

img{
    width: 250px;
    height: 250px
}
body{
    background-color: dimgray;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    display: flex;
    justify-content: space-between;
    padding-inline: 45px;
    align-items: center;
    font-size: 1.5rem;
    width: 100vw;
}

.top-right ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.top-right ul li{
    margin-inline: 15px;
}
.page-content{
        
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;        
}
.about{
    background-color: rgb(148, 143, 143);
    height: 450px;
    width:  100vw;        
}
.team-members{
    width: 100vw;
    background-color: rgb(115, 115, 243);
    padding-block: 40px;
    font-size: 1.15rem;
}
